.topic {
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive;
    color: #02735E;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
}

@media screen and(max-width: 800px) {
    .topic {
        font-weight: 1.5rem;
    }
}